<%- include('../../padrao/estruturaTopo.ejs') %>
<%- include('../../padrao/cabecalho.ejs') %>
    <div class="fdt-pg-header">
        <h4><%= subTitulo %></h4>
    </div>
    <div class="fdt-pg-conteudo">
        <% global.validacao = true %>
        <form id="fdt-form" method="post" action="salvar" data-parsley-validate="">
            <div class="fdt-conteudo-titulo">
                <h4>Dados principais</h4>
            </div>

            <div class="row">
                <div class="form-group col-sm-4"> 
                    <label for="nome">*Nome:</label> 
                    <input type="text" name="nome" id="nome" value="" maxlength="50" required class="form-control" />
                </div>
                <div class="form-group col-sm-6"> 
                    <label for="sobrenome">Sobrenome:</label> 
                    <input type="text" name="sobrenome" id="sobrenome" value="" maxlength="50" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <label for="colorpicker">Cor:</label>
                    <div class="input-group">
                        <input type="text" name="colorpicker" id="colorpicker" value="" class="input-sm form-control colorpicker" >
                        <input type="hidden" name="cor" id="cor" value="" />
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6" >
                    <label for="idArea">*Área:</label>
                    <select name="idArea" id="lstArea" required class="form-control selectpicker" data-live-search="true">
                        <option value=""></option>
                        <% for(var i = 0; i < areas.length; i++){ %>
                            <option value="<%= areas[i].idArea %>"><%= areas[i].titulo %></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group col-sm-6" id="divCargo" >
                    <label for="idCargo">*Cargo:</label>
                    <select name="idCargo" id="lstCargo" required class="form-control selectpicker" data-live-search="true">
                        <option value="" data-i="0"></option>
                        <% for(var i = 0; i < cargos.length; i++){ %>
                            <option value="<%= cargos[i].idCargo %>" data-idArea="<%= cargos[i].idArea %>" data-i="<%= i + 1 %>"><%= cargos[i].cargo %></option>
                        <% } %>
                    </select>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12">
					<button type="submit" class="btn fdt-btn-vermelho" onclick="history.back(); return false;">Cancelar</button>
					<button type="submit" class="btn fdt-btn-verde">Gravar informações</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</body>
</html>
<script>
	$(document).ready(function () {
		$("#lstArea").change(function () {
			var valor = $("#lstArea").val();
			$("#lstCargo").find("[data-idArea='"+valor+"']").each(function() {
				$(this).show();
				$('.selectpicker').selectpicker('refresh');
			});
			$("#lstCargo").find(":not([data-idArea='"+valor+"'])").each(function() {
				$(this).hide();
				var index = $(this).data("i");
				$('.selectpicker').selectpicker('refresh');
				$('#divCargo').find('[data-original-index="'+index+'"]').remove();
			});
		});
	});
</script>
<%- include('../../padrao/rodape.ejs') %>

